name: notion_delete_database_entries_test

on:
  workflow_dispatch:
  
  schedule:
    - cron: '0 0 * * *' # Runs at 8 AM Singapore time (00:00 UTC) daily
      
env:
  BUILD_PYTHON_VERSION: 3.9
  BUILD_POETRY_VERSION: 2.1.3
  PACKAGE_NAME: csv2notion_neo

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ env.BUILD_PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.BUILD_PYTHON_VERSION }}

      - name: Install setuptools
        run: pip install setuptools==80.9.0

      - name: Set up Poetry ${{ env.BUILD_POETRY_VERSION }}
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ env.BUILD_POETRY_VERSION }}
      
      - name: Install poetry-plugin-export
        run: poetry self add poetry-plugin-export==1.9.0
      
      - name: Cache Poetry dependencies
        uses: actions/cache@v3
        with: 
          path: |
            .venv
            ~/.cache/pypoetry
          key: ${{ runner.os }}-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-
              
      - name: Install the necessary libraries to run csv2notion_neo
        run: |
          poetry config virtualenvs.create false
          poetry install --no-root

      - name: Run tests
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
          NOTION_WORKSPACE: ${{secrets.NOTION_WORKSPACE}}
          NOTION_TOKEN: ${{secrets.NOTION_TOKEN}}
          NOTION_URL: ${{secrets.NOTION_URL}}
        run: pytest tests/test_delete_database_entries.py -v -s
